body {
  background-color: black;
}
/*ANIM-CONTAINER*/
#anim-container {
  position: relative;

  width: 680px;
  height: 300px;

  border-color: crimson;
  border-style: solid;

  transition-duration: 2s;

  overflow: hidden;
}
#anim-container * {
  position: absolute;
}
#anim-container:hover {
  border-color: darkblue;
}
#anim-container:hover #sumo {
  left: -50%;
}
/*END, ANIM-CONTAINER*/
/*SUMO*/
#sumo {
  left: 50%;
  top: 20%;

  transition-duration: 1s;
  animation-timing-function: linear;
}
/*END, SUMO*/
