body {
  margin: 0;
  padding: 0;
}
/*ANIM-CONTAINER*/
#anim-container {
  height: 600px;
  width: 100%;

  position: relative;
  overflow: hidden;

  background-color: blue;
}
#anim-container * {
  position: absolute;
}
/*END, ANIM-CONTAINER*/
/*GRASS*/
#grass {
  height: 300px;
  width: 100%;
  background-color: green;
  bottom: 0;
}
/*END, GRASS*/
/*MOON*/
#moon {
  height: 30px;
  width: 30px;

  border-radius: 50%;
  transform: scale(4);

  left: 60%;
  bottom: 50%;

  background-color: rgb(254, 244, 178);
}
/*END, MOON*/
/*HUMAN*/
#human {
  bottom: 40px;
  height: 200px;
}
/*END, HUMAN*/
/*ARROW*/
#arrow {
  transform: rotate(127deg);
  width: 75px;
  left: 35px;
  bottom: 140px;

  animation-name: arrow-ani;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes arrow-ani {
  0% {
    left: 0%;
  }
  95% {
    left: 70%;
    bottom: 140px;
    transform: rotate(140deg);
  }
  100% {
    left: 90%;
    bottom: 0;
    transform: rotate(180deg);
  }
}
/*END, ARROW*/
