/*CONTAINER*/
#anim-container {
  width: 978px;
  height: 600px;
  background-color: green;
  margin: auto;

  position: relative;
}
#anim-container * {
  position: absolute;
}
#anim-container:hover #sumo2 {
  left: 300px;
}
#anim-container:hover #sumo1 {
  left: -150px;
}
/*END, CONTAINER*/
/*SUMO*/
#sumo1,
#sumo2 {
  width: 500px;
  bottom: 0;

  transition-property: left;
  transition-duration: 4s;
}
#sumo1 {
  left: -500px;
}
#sumo2 {
  left: 978px; /*500+978*/
}
/*END, SUMO*/
